In [1]:

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("PlasticSales.csv")
df

     Month  Sales
0   Jan-49    742
1   Feb-49    697
2   Mar-49    776
3   Apr-49    898
4   May-49   1030
5   Jun-49   1107
6   Jul-49   1165
7   Aug-49   1216
8   Sep-49   1208
9   Oct-49   1131
10  Nov-49    971
11  Dec-49    783
12  Jan-50    741
13  Feb-50    700
14  Mar-50    774
15  Apr-50    932
16  May-50   1099
17  Jun-50   1223
18  Jul-50   1290
19  Aug-50   1349
20  Sep-50   1341
21  Oct-50   1296
22  Nov-50   1066
23  Dec-50    901
24  Jan-51    896
25  Feb-51    793
26  Mar-51    885
27  Apr-51   1055
28  May-51   1204
29  Jun-51   1326
30  Jul-51   1303
31  Aug-51   1436
32  Sep-51   1473
33  Oct-51   1453
34  Nov-51   1170
35  Dec-51   1023
36  Jan-52    951
37  Feb-52    861
38  Mar-52    938
39  Apr-52   1109
40  May-52   1274
41  Jun-52   1422
42  Jul-52   1486
43  Aug-52   1555
44  Sep-52   1604
45  Oct-52   1600
46  Nov-52   1403
47  Dec-52   1209
48  Jan-53   1030
49  Feb-53   1032
50  Mar-53   1126
51  Apr-53   1285
52  May-53   1468
53  Jun-53   1637
54  Jul-53   1611
55  Aug-53   1608
56  Sep-53   1528
57  Oct-53   1420
58  Nov-53   1119
59  Dec-53   1013